<div class="panel panel-primary">
  <div class="panel-heading">
    <h1>Pairs</h1>
    <% @studentdays.each do |day| %>

    <h2><%= day.day %></h2>

    <p><%= day.match.partition(' ').first %></p>
    &
    <p><%= day.match.partition(' ').last %></p>

    <% end %>

    <h2>Historical Matches</h2>

    <% @studenthistory.each do |day| %>

    <h2><%= day.day %></h2>

    <p><%= day.match.partition(' ').first %></p>
    &
    <p><%= day.match.partition(' ').last %></p>

    <% end %>

  </div>
