
    <h1>Welcome:
      <%= current_user.email %></h1>
    <h2> Your match for today </h2>
    <% @studentdays.each do |day| %>

    <h3><%= day.day %> | <%= day.id_first_student.email %>  & <%= day.id_second_student.email %></h3>


    <% end %>


    <h2> Historical Matches </h2>
    <% @studenthistory.each do |day| %>

    <h3><%= day.day %> | <%= day.id_first_student.email %>  & <%= day.id_second_student.email %></h3>


    <% end %>
