
    <h1>Welcome:
      <%= current_user.email %></h1>
    <h3> Your Match For Today: </h3>
    <% @studentdays.each do |day| %>

    <h4><%= day.day %> | <%= day.id_first_student.email %>  & <%= day.id_second_student.email %></h4>


    <% end %>


    <h3> Historical Matches </h3>
    <% @studenthistory.each do |day| %>

    <h4><%= day.day %> | <%= day.id_first_student.email %>  & <%= day.id_second_student.email %></h4>


    <% end %>
