<h1> Users </h1>

<% @users.each do |user| %>
<p><%= user.email %></p>
<h4><% if user.admin? %>
  is Admin
  <%end%></h4>
<%= form_for [:admin, user], method: :put do |f| %>
<%= hidden_field_tag :admin, '' %>
<%= f.check_box :admin %>
<%= f.submit "Update" %>
<% end %>
<% end %>
