
    <h1>Pairs</h1>
  <% (Date.today.beginning_of_week .. Date.today.end_of_week).each do |todays| %>

    <h4><%= todays.strftime('%d/%m/%Y') %></h4>
     <% @days[todays].to_a.each do |day| %>
     <%= todays %> | <%= day.id_first_student.email %> & <%= day.id_second_student.email %> <br>
        <% end %>

    <%= link_to "Generate Pairs", admin_days_path(day: todays), class: "btn btn-primary", method: :create %>


       <% end %>
