<%= form_for Day.new do |f| %>
<h1>
  Students:
</h1>


<div class="form-group">
  <label>Event Day</label>
  <%= f.date_select :day %>

  <%= f.hidden_field :student_a, :value => [Day.matcherToday] %>
    <%= f.hidden_field :student_b, :value => [Day.matcherToday] %>
  <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>

</div>
