<%= form_for Day.new do |f| %>
<h1>
  Students:
</h1>
<p><%= matching = User.where(admin: false).pluck(:id).shuffle %></p>

<div class="form-group">
  <label>Event Day</label>
  <%= f.date_select :day %>

  <%= f.hidden_field :student_a, :value => [matching.first] %>
    <%= f.hidden_field :student_b, :value => [matching.second] %>
  <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>

</div>
