<%= form_for Day.new do |f| %>
<h1>
  Students:
</h1>
<p><%= matching = User.where(admin: false).pluck(:email).shuffle %></p>

<div class="form-group">
  <label>Event Day</label>
  <%= f.date_select :day %>

  <%= f.hidden_field :match, :value => [matching.pop(2)] %>
  <%= f.submit "Save", class: "btn btn-primary" %>
  <% end %>

</div>
