<div class="panel panel-primary">
  <div class="panel-heading"><%= @day.day %></div>
</div>
<div class="panel-body">

  <p>Day:
    <%= @day.day %></p>
  <p>Matches:
    <%=@day.match %></p>

  <%= link_to "All Days", days_path, class: "btn btn-primary" %>
  <%= link_to "Edit Day", edit_day_path(@day.id), class: "btn btn-primary"%>
</div>
</div>
</div>
